<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811748598471-211ilra3oqecu4301pv2eu4h5qnq3ndb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811748598471-211ilra3oqecu4301pv2eu4h5qnq3ndb</string>
	<key>API_KEY</key>
	<string>AIzaSyBztPRP1cS97JC94adrfjRcsLF0MVjfdqc</string>
	<key>GCM_SENDER_ID</key>
	<string>811748598471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DoubleH.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clonehh</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clonehh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811748598471:ios:880370a70fbe5b257c54e2</string>
</dict>
</plist>